<!DOCTYPE html>
<html lang="uk">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{{ article.title }}</title>
</head>
<body>
    <h1>{{ article.title }}</h1>
    <p>Дата публікації: {{ article.pub_date }}</p>
    <p>Опис статті: {{ article.description }}</p>
    {% if article.articleimage_set.all %}
        <h2>Зображення:</h2>
        <ul>
            {% for image in article.articleimage_set.all %}
                <li><img src="{{ image.image.url }}" alt="{{ image.title }}"></li>
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html>